.transparent {
  background-color: transparent;
}
.primary {
  background-color: #1e88e5;
  color: rgba(255, 255, 255, .87);
}
.primary--text {
  color: #1e88e5!important;
}
.error {
  background-color: #D32F2F!important;
  color: rgba(255, 255, 255, .87);
}
.error--text {
  color: #D32F2F;
}
